github "SnapKit/SnapKit"
github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxOptional"
github "Swinject/Swinject"
github "Instagram/IGListKit"
github "HeroTransitions/Hero"
github "Moya/Moya"
github "RxSwiftCommunity/RxDataSources"
github "onevcat/Kingfisher"
github "RxSwiftCommunity/RxKingfisher"
github "Brightify/Cuckoo"
